<%- include('header.ejs') %>

<div class="main-container">
    <div class="fake-container">
        PHONY!!
    </div>
</div>

<%- include('pause.ejs') %>
<script src="/src/scripts/fake.js"></script>

<%- include('footer.ejs') %>
