<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Symply Type</title>
</head>
<body>
    <div class="pause-container">
        <div class="pause-text">
            <ul>
                <li class="no-click">
                    [x] Back to Menu
                </li>
                <!-- <li class="no-click">
                    [ ] Close
                </li> -->
            </ul>
        </div>
    </div>
