 <div class="pause-container">
    <div class="pause-text">
        <form action="/menu" method="post" id="pauseRadioForms">
            <ul>
                <!-- LOCALS HERE -->
                <% if (locals.type) {%>
                    <li class="no-click">
                        <input type="radio" name="pauseModes" id="<%= locals.mode %>" value="<%= locals.mode %>">
                        <span class="o">[ ]</span>
                        <span class="x">[x]</span>
                        <label for="type">Retry</label>
                    </li>
                    <% } %>
                    <li class="no-click">
                        <input type="radio" name="pauseModes" id="menu" value="menu">
                        <span class="o">[ ]</span>
                        <span class="x">[x]</span>
                        <label for="type">Back to menu</label>
                    </li>
                    <button type="submit" style="display: none;" >SEND</button>
                </ul>
            </form>
            <div class="menu-label">
                PRESS ESC
            </div>
        </div>
        <div class="blur">
            &nbsp;
        </div>
    </div>
