<%- include('header.ejs') %>

<!-- TYPING TEXT -->
<div class="type-container">
    <div class="wpm-area">
        <div class="wpm-text" id="wpm">
            <!-- wpm here -->
        </div>
        <div class="menu-label">
            PRESS ESC
        </div>
    </div>
    <div class="text-area" id="textArea">
        <!-- here is the text -->
    </div>
</div>
<%- include('pause.ejs') %>
<script src="/src/scripts/typing.js"></script>
<%- include('footer.ejs') %>
