<%- include('header.ejs') %>
<%- include('pause.ejs') %>

<!-- TYPING TEXT -->
<div class="type-container">
    <div class="wpm-area" id="wpm">
        <!-- wpm here -->
    </div>
    <div class="text-area" id="textArea">
        <!-- here is the text -->
    </div>
</div>

<%- include('footer.ejs') %>
